body {
  background-color: rgb(15, 148, 141);
}

.nav-link{
    display: block;
    text-decoration: none;
    color: rgb(29, 202, 81);
}

.nav-li{
    float: left;
}

.nav-ul{
    list-style-type: none;
    display: inline;
}

.nav-button{
    background-color: rgb(43, 158, 224);
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 100px;
    height: 40px;
}

h1{
    font-size: 30px;
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav{
    font-family: sans-serif;
    background-color: rgb(9, 43, 107);
    padding: 20px;
    margin:-1% -1% 20px -1%;
    height: 8vh;
    min-height: 50px;
}

footer{
    background-color: rgb(43, 158,224);
    color: black;
    height: 80px;
    font-family: sans-serif;
    text-align: center;
    font-size: 15px;
    align-items: center;
    padding: 18px;
    margin: 20px -1% 3% -1%;
    position: fixed;
    top: 600px;
    width: 100%;
}

#container{
    background-color: rgba(36, 159, 216, 0.5);
    width: 55vw;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    border-radius: 8px;
    margin: auto;
    display: block;
    justify-content: center;
    height: 62vh;
    min-width: 750px;
    min-height: 450px;
}

a{
    text-decoration: none;
}

.button{
    display: block;
    width: 340px;
    font-family: sans-serif;
    font-size: 25px;
    padding: 20px;
    border-radius: 5px;
    margin: 25px;
    margin-left:31%;
    background-color:ghostwhite;
    font-weight: 400;
}

.nav-button:hover, .button:hover{
    box-shadow: 2px 2px 5px rgb(123, 171, 223);
    font-weight: bold;
}
