<!---
============================================
; Title: Assignment 6.4
; Author: Richard Krasso
; Date: 3 June 2020
; Modified By: Rhonda Rivas
; Description: Employee Records App
==========================================+
--->

<hr>

<footer>

    <p>© Rivas 2020</p>

</footer>

<!-- Scripts -->
