<!DOCTYPE html>
<html>

<lang en="us">
<link rel="stylesheet" type="text/css" href="../style.css">

    <body>
        <%- include ('header') -%>
        <%- include ('navbar') -%>

        <div id ="container">
            <h1>Employee Records</h1>

        <a href="/new.ejs"><button class="button" id="new">Add New Employee</button></a>
        <a href="/view.ejs"><button class="button" id="view">Search Employees</button></a>
        <a href="/list.ejs"><button class="button" id="list">View Current Employees</button></a>
    </div>
    <%- include('footer') -%>
