<!---
============================================
; Title: Assignment 6.4
; Author: Richard Krasso
; Date: 3 June 2020
; Modified By: Rhonda Rivas
; Description: Employee Records App
==========================================+
--->

<!DOCTYPE html>
<html lang en="us">
<link rel="stylesheet" type="text/css" href="../style.css">
        <body>
        <%- include('header') -%>
        <%- include('navbar') -%>
        <div id ="container">
            <h1>Employee Records</h1>
            <a class="" href="/new"><button class="button" id="new">Add New Employee</button></a>
            <a href="/list"><button class="button" id="view">View Current Employees</button></a>
        </div>
        <%- include('footer') -%>
        <%- include('scripts') -%>
    </body>
</html>
