<!---
============================================
; Title: Assignment 6.4
; Author: Richard Krasso
; Date: 3 June 2020
; Modified By: Rhonda Rivas
; Description: Employee Records App
==========================================+
--->

<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <body>
        <%= include ("header") %>

        <%= include ("navbar") =%>

        <div>

        </div>

        <%= include ("footer") %>
    </body>
</html>
