<!---
============================================
; Title: Assignment 6.4
; Author: Richard Krasso
; Date: 3 June 2020
; Modified By: Rhonda Rivas
; Description: Employee Records App
==========================================+
--->
<div role="main" class="container">

  <br/><br/>

    <h2>Employee Record</h2>
    <br>

    <div>
      <div class="form-group">
        <label for="txtName">Name:</label>
        <input
        type="text"
        class="form-control"
        id="txtName"
        readonly value="<%= employee[0].firstName %> <%= employee[0].lastName %>" n
        ame="txtName"
        />
      </div>
    </div>

    <br /><br />

    <a href="/">&larr; OK</a>
  </div>



</div>
